:root {
--primary-blue: #151B54;
--primary-gold: #DFBD69;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav-logo-container {
  background-color: var(--primary-blue);
  position: fixed;
  width: 100%;
  z-index: 6;
  border-bottom: #DFBD69 .1rem solid;
}

#logo-container {
  float: left;
}

#logo {
  height: 5rem;
  width: 5rem;
  padding: 0.75rem 2rem;
}

#nav-ul {
  list-style-type: none;
  text-align: right;
  padding: 0 1rem;
}

.nav-li {
  display: inline-block;
  padding: 1rem 2rem;
}

.nav-link {
  display: block;
  color: var(--primary-gold);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.nav-li:hover {
  border: var(--primary-gold) 0.1rem solid;
}

#header-container {
  width: 100%;
  display: block;
}

#header-img {
  width: 94%;
  margin: 10rem 3% 5rem 3%;
}

.white-card {
  height: 20rem;
  width: 45%;
  border: grey 0.075rem solid;
  position: absolute;
  top: 45rem;
  left: 27.5%;
  right: 27.5%;
  background-color: white;
  color: var(--primary-blue);
}

h1 {
  text-align: center;
  font-size: 5rem;
  padding-bottom: 0%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.h2-header {
  text-align: center;
  margin-bottom: 0;
}

.h3-header {
  text-align: center;
  margin-bottom: 0;
}

.p-header {
  padding: 0rem 2rem 1rem 3.5rem;
}

#about-container {
  background-color: var(--primary-blue);
  height: 40rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--primary-gold);
}

.about {
  padding: 3rem 5rem 4rem 5rem;
  margin: 5rem;
}

.about:first-child {
  border: #DFBD69 .075rem solid;
}

.h2-about {
  margin-top: 1rem;
  font-size: 3rem;
}

#about-image {
  width: 80%;
}

#contact-container {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--primary-blue);
  padding: 5rem 0 3rem 5rem;
}

#contact-image {
  width: 80%;
}

#contact-info {
  width: 50%;
  margin: 4% 10% 10% 10%;
}

#contact-info h2 {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

#contact-info h3 {
  font-size: 2rem;
}

.phone-number {
  text-decoration: none;
}

#apply-container {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

#apply-button {
  background-color: var(--primary-blue);
  color: var(--primary-gold);
  width: 15rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 2rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: #DFBD69 .1rem solid;
}

#apply-button:hover {
  background-color: darkblue;
}

footer {
  background-color: var(--primary-blue);
  width: 100%;
  height: 15rem;
  border-top: #DFBD69 .1rem solid;
}


/* Adjusting for different screens sizes */

@media (max-width: 1450px) {
  .white-card {
    top: 35rem;
  }
  .about:first-child {
    height: 25rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 1286px) {
  .about:first-child {
    height: 30rem;
    padding: 1rem 2rem;
  }
  #contact-info {
    width: 100%;
    margin: 0%;
  }
}

@media (max-width: 1190px) {
  #header-container {
    display: block;
  }
  .white-card {
    position: static;
    border: none;
    width: auto;
  }
  #contact-container {
    padding: 3rem 0 3rem 5rem;
  }
  #contact-info h2 {
    padding: 0%;
    margin: 0%;
  }
}

@media (max-width: 1058px) {
  #about-container {
    height: 45rem;
  }
  .about:first-child {
    height: 33rem;
}

@media (max-width: 1039px) {
  
}

@media (max-width: 692px) {
  
}

@media (max-width: 517px) {
 
}